<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<div class="toolbar" role="banner">
 <a href=""><img
    width="50"
    alt="Cypress logo"
    src="https://static-00.iconduck.com/assets.00/cypress-icon-2048x2048-swmlmjca.png"
  /></a>
  <span>Dashboard - Cypress</span>
    <div class="spacer"></div>
</div>
<br>
<br>
<br>
<br>

<form>
  <div class="container">
    <label>
      <span>Início:</span>
    </label>
    <input
      type="date"
      name="inicio"
      class="form-control-sm"
    />
    <label>
      <span> Fim:</span>
    </label>
    <input
      type="date"
      name="fim"
      class="form-control-sm"
    />
    <button
      type="button"
      class="btn btn-dark"
      id="filter"
    >
      Filtrar
    </button>
  </div>
</form>

<div class="container">
  <table class="table table-striped table-bordered mr-auto">
    <thead>
      <tr>
        <th scope="col">Nome do teste</th>
        <th scope="col">Qt. de sucesso</th>
        <th scope="col">Qt. de falhas</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Teste 1</td>
        <td>15</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>
</div>
