<div class="toolbar" role="banner">
  <img
    width="50"
    alt="Cypress logo"
    src="https://static-00.iconduck.com/assets.00/cypress-icon-2048x2048-swmlmjca.png"
  />
  <span>Dashboard - Cypress</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  <h2>Relatórios</h2>

  <div class="card-container">
    <a class="card" rel="noopener" href="/diario">
      <svg class="material-icons"  width="24" height="24" viewBox="0 0 24 24"></svg>
      <span>Relatório Diário 📅</span>
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg></a>

    <a class="card" rel="noopener" href="/semanal">
      <svg class="material-icons" width="26" height="24" viewBox="0 0 24 24">/></svg>
      <span>Relatório Semanal 📆</span>
      <svg class="material-icons" width="26" height="24" viewBox="0 0 24 24">/></svg>
    </a>

    <a class="card" rel="noopener" href="/mensal">
      <svg style="margin-right: 8px" width="21.813" height="23.453" viewBox="0 0 179.2 192.7"></svg>
      <span>Relatório Mensal 🗓️</span>
      <svg class="material-icons"  width="24" height="24" viewBox="0 0 24 24"></svg>
    </a>
    <app-grafico-diario></app-grafico-diario>
  </div>
  <footer>
  </footer>
</div>
